@{
    ViewData["Title"] = "ConsultationRDV";
}

<h2>Comptable</h2>

@{
<div class="container">
    <h2>Bienvenue @ViewBag.Employe.Prenom @ViewBag.Employe.Nom</h2>
    <p>Consultation de vos Rendez vous</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#RDVModal" data-action="add"><span class="glyphicon glyphicon-plus-sign"></span>Ajouter</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-success buttonModal" data-toggle="modal" data-target="#RDVModal" data-action="modify"><span class="glyphicon glyphicon-edit"></span>Modifier</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-warning" data-toggle="modal" data-target="#eraseRDV"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
                </td>
            </tr>
            <tr>
                <th>Choix</th>
                <th>Praticien</th>
                <th>Date RDV</th>
                <th>Heure RDV</th>
                <th>Motif du rendez-vous</th>
                <th>Indice de Confiance</th>
                <th>Date Bilan</th>
                <th>Enchantillons donnés</th>
            </tr>
        </thead>
        <tbody>
            @{ 
                var rdvs = ViewBag.MesRDV;
                int tailleRDV = rdvs.Count;



                for (int index = 0; index < tailleRDV; index++)
                {
                    var dateRDV = rdvs[index].Date_rdv.ToShortDateString();
                    var heureRDV = rdvs[index].Date_rdv.ToShortTimeString();
                    var dateBilan = rdvs[index].Date_bilan.ToShortDateString();

                    <tr>
                        <th>
                            <input @{ string select = index == 0 ? "checked" : ""; } type="radio" aria-label="" name="rdv_radio" value="@rdvs[index].Id_rdv" data-id="@rdvs[index].Id_rdv">
                        </th>
                        <th>@rdvs[index].Praticien.Nom</th>
                        <th>@dateRDV</th>
                        <th>@heureRDV</th>
                        <th>@rdvs[index].Motif_rdv</th>
                        <th>@rdvs[index].Indice_confiance</th>
                        <th>@dateBilan</th>
                        <th>@rdvs[index].Liste_echantillons_donnes.Count</th>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="modal fade" id="RDVModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Compte Rendu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="container">
                            <div class="row">
                                <div class='col-sm-6'>
                                    <div class="form-group" style="display:flex; flex-direction: row; align-items: center;">
                                        <label for="example-date-input" class="col-2 col-form-label">Date</label>
                                        <input class="form-control" type="date" value="" id="date_rdv">
                                        <label for="example-date-input" class="col-2 col-form-label">Heure</label>
                                        <input class="form-control" type="time" value="" id="time_rdv">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="praticien" class="col-form-label">Praticien:</label>
                            <select class="browser-default custom-select" id="select_praticien">
                                <option value="Choisir un praticien" selected>Choisir un praticien</option>
                                @{
                                    foreach (var praticien in ViewBag.MesPraticiens)
                                    {
                                        <option value="@praticien.Id">@praticien.Nom @praticien.Prenom</option>
                                    }
                                 }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">Motif du RDV:</label>
                            <select class="browser-default custom-select" id="motif_rdv">
                                <option value="Choisir un motif" selected>Choisir un motif</option>
                                <option value="0">reprise_contact</option>
                                <option value="1">nouveaux_medicaments</option>
                                <option value="2">suivi</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="text" class="col-form-label">Indice de confiance:</label>
                            <select class="browser-default custom-select" id="indice_confiance">
                                <option selected>Choisir un indice</option>
                                @{
                                    for (int i = 1; i < 6; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <div class='col-sm-8'>
                                <div class="form-group">
                                    <label for="datetimepicker_rdv" class="col-form-label">Date bilan:</label>
                                    <div class='input-group date' id='datetimepicker2'>
                                        <input type='date' class="form-control" id="datetimepicker_rdv" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

</form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-action="modify"><span class="glyphicon glyphicon-ok"></span>Envoyer</button>
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-list-alt"></span>Fiche Frais</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>

    @*Permet d'appeler d'autre vue*@
    @RenderPage("~/Views/Commercial/Detail_RDV.cshtml")

</div>
    @section scripts {
        <script type="text/javascript">

            $('.buttonModal').click(function () {
                var action = $(this).data('action');
                var modal = $('#RDVModal');
                var id_rdv = $("input[name='rdv_radio']:checked").data('id');

                if (action === 'modify' && id_rdv != null)
                {
                    try {

                        $.ajax({
                            type: "POST",
                            // url: "http://localhost:51921/Commercial/AjaxReceiver", /* marche chez juju l'autre non*/
                            url: "~/Commercial/AjaxReceiver", 
                            data: 'table=' + "rendez_vous" + '&id=' + id_rdv,
                        }).then(function (response) {
                            var JsonResponse = JSON.parse(response);

                            $("#select_praticien").val(JsonResponse.Praticien.Id);

                            var milli = JsonResponse.Date_rdv.replace(/\/Date\((-?\d+)\)\//, '$1');
                            var date = new Date(parseInt(milli));
                            var dateAmericanFormat = date.toISOString();

                            $('#date_rdv').val(dateAmericanFormat.substring(0, 10));
                            $('#time_rdv').val(dateAmericanFormat.substring(14, 19));
                            $('#motif_rdv').val(JsonResponse.Motif_rdv);
                            $('#indice_confiance').val(JsonResponse.Indice_confiance);
                        });
                    }
                    catch (ex) {
                        alert("catch Ajax Error" + ex);
                    }

                    modal.find('.modal-title').text('Rendez-Vous n°' + id_rdv);
                    modal.find('.modal-body input').val(id_rdv);
                }
                else if (action === 'add')
                {
                    $("#select_praticien").val("Choisir un praticien");
                    modal.find('.modal-title').text('Nouveau rendez-vous');

                    var date = new Date($.now());
                    var dateAmericanFormat = date.toISOString();

                    $('#date_rdv').val(dateAmericanFormat.substring(0, 10));
                    $('#time_rdv').val(dateAmericanFormat.substring(11, 16));
                    $('#motif_rdv').val("Choisir un motif");
                    $('#indice_confiance').val(1);
                }

            });


            $(function () {
               // $('#datetimepicker1').datetimepicker();
            });
        </script>
    }
    }

