@{
    ViewData["Title"] = "ConsultationRDV";

}

<h2>Comptable</h2>

@{
    <div class="container">
        <h2>Hover Rows</h2>
        <p>Consultation de vos Rendez vous</p>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Commercial</th>
                    <th>Praticien</th>
                    <th>Date RDV</th>
                    <th>Motif du rendez-vous</th>
                    <th>Indice de Confiance</th>
                    <th>Date Bilan</th>
                    <th>Enchantillons donnés</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var rdv in ViewBag.MesRDV)
                {
                    /*<a href="www.google.fr">*/
                    <tr>
                        <th>@rdv.Employe.Id</th>
                        <th>@rdv.Praticien.Id</th>
                        <th>@rdv.Date_rdv</th>
                        <th>@rdv.Motif_rdv</th>
                        <th>@rdv.Indice_confiance</th>
                        <th>@rdv.Date_bilan</th>
                        <th>@rdv.Liste_echantillons_donnes.Count</th>
                        <th>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-id="@rdv.Id_rdv">Compte Rendu</button>
                        </th>
                    </tr>
                    /*</a>*/
                }
            </tbody>
        </table>

        @*Permet d'appeler d'autre vue*@
        @RenderPage("~/Views/Commercial/Detail_RDV.cshtml")
     

    </div>
    @section scripts {
        <script type="text/javascript">
                $('#exampleModal').on('show.bs.modal', function (event) {
                    var button = $(event.relatedTarget) // Button that triggered the modal
                    var recipient = button.data('id')

                    try {

                        $.ajax({
                            type: "POST",
                            url: "http://localhost:51921/Comptable/AjaxReceiver",
                            data: 'table=' + "fiche_frais" + '&id=' + recipient,
                        }).then(function (response) {
                            var JsonResponse = JSON.parse(response);
                            alert(JsonResponse.Id_fiche_frais);
                        });
                    }
                    catch (ex) {
                        alert("catch Ajax Error");
                    }

                    var modal = $(this)

                    modal.find('.modal-title').text('Fiche Frais n°' + recipient)
                    modal.find('.modal-body input').val(recipient)
                })
        </script>
    }
}

