
@{
    ViewBag.Title = "Echantillon";
}

<h2>Echantillon</h2>


<div class="container">
    <h2 id="employe" data-id="@ViewBag.Employe.Id">Bienvenue @ViewBag.Employe.Prenom @ViewBag.Employe.Nom</h2>
    <p>@ViewBag.Employe.Nom : vous avez eu un rendez-vous avec :</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="modal_RDV_form">Praticien</th>
                <th class="modal_RDV_form">Date RDV</th>
                <th class="modal_RDV_form">Heure RDV</th>
                <th class="modal_RDV_form">Date Bilan</th>
                <th class="modal_RDV_form">Enchantillons donnés</th>
            </tr>

        </thead>
        <tbody>
            @{
                var passeRDV = ViewBag.RendezVous;

                var dateRDV = passeRDV.Date_rdv.ToShortDateString();
                var heureRDV = passeRDV.Date_rdv.ToShortTimeString();
                var dateBilan = passeRDV.Date_bilan.ToShortDateString();

                <tr>
                    <th class="modal_RDV_form">@passeRDV.Praticien.Nom</th>
                    <th class="modal_RDV_form">@dateRDV</th>
                    <th class="modal_RDV_form">@heureRDV</th>
                    <th class="modal_RDV_form">@dateBilan</th>
                    <th class="modal_RDV_form">@passeRDV.Liste_echantillons_donnes.Count</th>
                </tr>
            }
        </tbody>
    </table>
    <h2>Liste echantillons donnees</h2>
    <p>@ViewBag.Employe.Nom : vous avez donné :</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <button type="submit" class="btn btn-warning" name="retour" onclick="history.go(-1)">
                        <span class="glyphicon glyphicon-backward"></span> Retour
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#EDModal" data-action="add"><span class="glyphicon glyphicon-plus-sign"></span>Ajouter</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-success buttonModal" data-toggle="modal" data-target="#EDModal" data-action="modify"><span class="glyphicon glyphicon-edit"></span>Modifier</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-warning" id="eraseRDV" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
                </td>
            </tr>
            <tr>
                <th class="modal_RDV_form">Choix</th>
                <th class="modal_RDV_form">Famille</th>
                <th class="modal_RDV_form">Nom</th>
                <th class="modal_RDV_form">Quantite</th>
                <th class="modal_RDV_form">Concentration</th>
            </tr>
        </thead>
        <tbody>
            @{
                var mesEchantillonDonne = ViewBag.Echantillon;
                int tailleMesEchantillonDonne = mesEchantillonDonne.Count;
                if (tailleMesEchantillonDonne != 0)
                {
                    for (int index = 0; index < tailleMesEchantillonDonne; index++)
                    {
                        <tr>
                            <th class="modal_RDV_form">
                                <input checked type="radio" aria-label="" name=" " value="@mesEchantillonDonne[index].RendezVous.Id_rdv|@mesEchantillonDonne[index].Echantillon.Id_echantillon" data-id="@mesEchantillonDonne[index].RendezVous.Id_rdv|@mesEchantillonDonne[index].Echantillon.Id_echantillon">
                            </th>
                            <th class="modal_RDV_form">@mesEchantillonDonne[index].Produit.Famille</th>
                            <th class="modal_RDV_form">@mesEchantillonDonne[index].Produit.Nom</th>
                            <th class="modal_RDV_form">@mesEchantillonDonne[index].Quantite</th>
                            <th class="modal_RDV_form">@mesEchantillonDonne[index].Echantillon.Concentration</th>
                        </tr>
                    }

                }

                else
                {
                    <tr>
                        <th colspan="7" style="text-align: center;">Vous n'avez donné aucun échantillon</th>
                    </tr>
                }
            }
        </tbody>
    </table>


    <div class="modal fade" id="EDModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Echantillons Données</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="famille" class="col-form-label">Famille:</label>
                            <select class="browser-default custom-select" id="select_famille">
                                <option value="Choisir une famille" selected>Choisir une famille</option>
                                @{

                                    var mesTypeFrais = ViewBag.MesTypesFrais;
                                    int tailleListTypeFrais = ViewBag.MesTypesFrais.Count;
                                    foreach (var typeFrais in mesTypeFrais)
                                    {
                                        <option value="typeFrais">@typeFrais</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">Medicament:</label>
                            <select class="browser-default custom-select" id="medicament">
                                <option value="Choisir un medicament" selected>Choisir un medicament</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input for="text" class="form-control">Nombre:>
                        </div>
                        <div class="form-group">
                            <div class='col-sm-8' id="col-sm-8_RDV">
                                <div class="form-group">
                                    <input for="text" class="form-control">Concentration:>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" id="send_ED" class="btn btn-success" data-action="add"><span class="glyphicon glyphicon-ok"></span>Envoyer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

</div>



