
@{
    ViewBag.Title = "Echantillon";
}

<h2>Echantillon</h2>


<div class="container">
    <h2 id="employe" data-id="@ViewBag.Employe.Id">Bienvenue @ViewBag.Employe.Prenom @ViewBag.Employe.Nom</h2>
    <p>@ViewBag.Employe.Nom : vous avez eu un rendez-vous avec :</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="modal_RDV_form">Praticien</th>
                <th class="modal_RDV_form">Date RDV</th>
                <th class="modal_RDV_form">Heure RDV</th>
                <th class="modal_RDV_form">Date Bilan</th>
                <th class="modal_RDV_form">Enchantillons donnés</th>
            </tr>

        </thead>
        <tbody>
            @{
                var passeRDV = ViewBag.RendezVous;

                var dateRDV = passeRDV.Date_rdv.ToShortDateString();
                var heureRDV = passeRDV.Date_rdv.ToShortTimeString();
                var dateBilan = passeRDV.Date_bilan.ToShortDateString();

                <tr>
                    <th class="modal_RDV_form">@passeRDV.Praticien.Nom</th>
                    <th class="modal_RDV_form">@dateRDV</th>
                    <th class="modal_RDV_form">@heureRDV</th>
                    <th class="modal_RDV_form">@dateBilan</th>
                    <th class="modal_RDV_form">@passeRDV.Liste_echantillons_donnes.Count</th>
                </tr>
            }
        </tbody>
    </table>
    <h2>Liste echantillons donnees</h2>
    <p>@ViewBag.Employe.Nom : vous avez donné :</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <button type="submit" class="btn btn-warning" name="retour" onclick="history.go(-1)"> <!-- retour historique tps T-1 -->
                        <span class="glyphicon glyphicon-backward"></span> Retour
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#EDModal" data-action="add"><span class="glyphicon glyphicon-plus-sign"></span>Ajouter</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-success buttonModal"  data-toggle="modal" data-target="#EDModal" data-action="modify"><span class="glyphicon glyphicon-edit"></span>Modifier</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-warning buttonModal"  data-toggle="modal" data-target="#eraseED"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
                </td>
            </tr>
            <tr>
                <th class="modal_RDV_form">Choix</th>
                <th class="modal_RDV_form">Famille</th>
                <th class="modal_RDV_form">Nom</th>
                <th class="modal_RDV_form">Quantite</th>
                <th class="modal_RDV_form">Concentration</th>
            </tr>
        </thead>
        <tbody>
            @{
                var mesEchantillonDonne = ViewBag.EchantillonDonne;
                int tailleMesEchantillonDonne = mesEchantillonDonne.Count;
                if (tailleMesEchantillonDonne != 0)
                {
                    for (int index = 0; index < tailleMesEchantillonDonne; index++)
                    {
                        <tr>
                            <th class="modal_RDV_form">
                                <input checked type="radio" aria-label="" name="echantillon_donne_radio" data-id_echantillon="@mesEchantillonDonne[index].Echantillon.Id_echantillon" data-id_rdv="@mesEchantillonDonne[index].RendezVous.Id_rdv">
                            </th>

                            <th class="modal_RDV_form">@mesEchantillonDonne[index].Produit.Famille</th>
                            <th class="modal_RDV_form">@mesEchantillonDonne[index].Produit.Nom</th>
                            <th class="modal_RDV_form">@mesEchantillonDonne[index].Quantite</th>
                            <th class="modal_RDV_form">@mesEchantillonDonne[index].Echantillon.Concentration</th>
                        </tr>
                    }
                }

                else
                {
                    <tr>
                        <th colspan="7" style="text-align: center;">Vous n'avez donné aucun échantillon</th>
                    </tr>
                }
            }
        </tbody>
    </table>


    <div class="modal fade" id="EDModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Echantillons Données</h5>  @*MODAL TITLE*@
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="famille" class="col-form-label">Famille:</label>
                            <select class="browser-default custom-select" id="select_famille">
                                <option value="Choisir une famille" selected>Choisir une famille</option>
                                @{
                                    var mesFamilles = ViewBag.Famille;
                                    foreach (var famille in mesFamilles)
                                    {
                                        <option value="@famille.Famille">@famille.Famille</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">Medicament:</label>
                            <select class="browser-default custom-select" id="medicament">
                                <option value="Choisir un medicament" selected>Choisir un medicament</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">Concentration:</label>
                            @*<select class="browser-default custom-select" id="concentration">
                                <option value="Choisir une concentration" selected>Choisir une concentration</option>
                            </select>*@
                                <input for="text" value="Choisir une concentration" class="form-control" id="concentration">
                        </div>
                        <div class="form-group">
                            <label for="text" class="col-form-label">Quantité:</label>
                            <input for="text" value="Quantite" class="form-control" id="quantite">
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="send_ED" class="btn btn-success"  data-action="add"><span class="glyphicon glyphicon-ok"></span>Envoyer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">

        $('#select_famille').change(function () {
            var famille = $(this).val();

            try {
                $.ajax({ // Plusieurs éléments sont attendus pour une requête Ajax : TYPE / URL / DATA
                    type: "POST",
                    url: "/Commercial/AjaxProduitFromFamille",
                    data: 'famille=' + famille,
                }).then(function (response) { // Then fonctionne uniquement après que la fonction C# est renvoyé quelque chose
                    var JsonResponse = JSON.parse(response);

                    $('#medicament').empty();

                    $.each(JsonResponse, function (key, value) {
                        html = "<option value="+ value.Id +">" + value.Nom + "</option>";
                        $('#medicament').append(html);
                    })
                });
            }
            catch (ex) {
                alert("catch Ajax Error" + ex);
            }
        });

        //$('#concentration').change(function () {
        //    var concentration = $(this).val();

        //    try {
        //        $.ajax({ // Plusieurs éléments sont attendus pour une requête Ajax : TYPE / URL / DATA
        //            type: "POST",
        //            url: "/Commercial/AjaxProduitFromFamille",
        //            data: 'concentration=' + concentration,
        //        }).then(function (response) { // Then fonctionne uniquement après que la fonction C# est renvoyé quelque chose
        //            var JsonResponse = JSON.parse(response);

        //            $('#medicament').empty();

        //            $.each(JsonResponse, function (key, value) {
        //                html = "<option value="+ value.Id +">" + value.Nom + "</option>";
        //                $('#concentration').append(html);
        //            })
        //        });
        //    }
        //    catch (ex) {
        //        alert("catch Ajax Error" + ex);
        //    }
        //});

        $('.buttonModal').click(function () { // Bouton Ajouter / Modifier Click

            var action = $(this).data('action'); // data-action="modify" OU "add"
            var modal = $('#EDModal'); // ModalHTML du RDV

            var id_echantillon = $("input[name='echantillon_donne_radio']:checked").data('id_echantillon'); // Bouton radio -> data-id="X"
            var id_rdv = $("input[name='echantillon_donne_radio']:checked").data('id_rdv');

            if (action === 'modify') {
                $('#send_ED').data('action', 'modify'); // Permet de changer le rôle du bouton "Ajouter" au sein du modal
                try {
                    $.ajax({ // Plusieurs éléments sont attendus pour une requête Ajax : TYPE / URL / DATA
                        type: "POST",
                        url: "/Commercial/AjaxReaderDoubleID",
                        data: 'table=' + "echantillon_donne" + '&id1=' + id_echantillon + '&id2=' + id_rdv,
                    }).then(function (response) { // Then fonctionne uniquement après que la fonction C# est renvoyé quelque chose
                        var JsonResponse = JSON.parse(response);

                        modal.find('.modal-title').text('MODIFICATION Echantillons données ');

                        $("#select_famille").val(JsonResponse.Echantillon.Produit.Famille);
                        $("#select_famille").attr('disabled', true); // Ajoute Readonly "fixe la valeur" a un Input - Ici select_famille
                        $('#medicament').empty();
                        $('#medicament').append("<option value=" + JsonResponse.Echantillon.Produit.Nom +" selected>" + JsonResponse.Echantillon.Produit.Nom +"</option>")
                        $("#medicament").attr('disabled', true); // Ajoute Readonly "fixe la valeur" a un Input - Ici medicament
                        $("#concentration").val(JsonResponse.Echantillon.Concentration);
                        $("#concentration").attr('readonly', true);
                        //$("#select_concentration").val(JsonResponse.Echantillon.Concentration);
                        //$('#select_concentration').append("<option value=" + JsonResponse.Echantillon.Concentration + " selected>" + JsonResponse.Echantillon.Concentration + "</option>")
                        //$("#select_concentration").attr('disabled', true); // Ajoute Readonly "fixe la valeur" a un Input - Ici select_concentration
                        $("#quantite").val(JsonResponse.Quantite);

                    });
                }
                catch (ex) {
                    alert("catch Ajax Error" + ex);
                }
            }
            else if (action === 'add') {
                $('#send_ED').data('action', 'add');

                modal.find('.modal-title').text('NOUVEL echantillon Donne');

                $("#select_famille").val("Choisir une Famille");
                $("#select_famille").attr('disabled', false);
                $('#medicament').val("Choisir un medicament");
                $("#medicament").attr('disabled', false);
                $('#select_concentration').val("Concentration");
                $("#select_concentration").attr('disabled', false);
                $('#quantite').val("Quantite");
  
            }
        });

        // // Le bouton "ENVOYER" a la fin du modal (son data-action change au dessus avec bouton Modal)
        $('#send_ED').click(function () {
            var id_echantillon = $("input[name='echantillon_donne_radio']:checked").data('id_echantillon'); 
            var id_rdv = $("input[name='echantillon_donne_radio']:checked").data('id_rdv');
            var concentration = $('#concentration').val();
            var nom = $('#medicament').val();
            var quantite = $('#quantite').val();

            var action = $('#send_ED').data('action');
            if (action == 'modify') {

                try {
                    $.ajax({
                        type: "POST",
                        url: "/Commercial/AjaxAddModifyED",
                        data: "nom=" + nom + "&concentration=" + concentration + "&id_rdv=" + id_rdv + "&quantite=" + quantite + "&addOrModify=" + action,
                    }).then(function () {
                        location.reload();
                    });
                }
                catch (ex) {
                    alert("catch Ajax Error" + ex);
                }
            }
            else if (action == 'add') {
                var id_rdv = $('#employe').data('id_rdv');
                var famille =  $("#select_famille").val();
                var medicament = $('#medicament').val();
                var concentration = $('#select_concentration').val();
                var quantite = $('#quantite').val();
                try {
                    $.ajax({
                        type: "POST",
                        url: "/Commercial/AjaxAddModifyED",
                        data: "id_echantillon=" + "" + "&id_rdv=" + id_rdv + "&famille="+ famille + "&medicament="+ medicament +"&concentration="+ concentration + "&quantite=" + quantite
                    }).then(function () {
                        location.reload();
                    });
                }
                catch (ex) {
                    alert("catch Ajax Error" + ex);
                }
            }
        });

        $('#eraseED').click(function () {
            var id_ED = $("input[name='echantillon_donne_radio']:checked").data('id');
            if (id_ED != null) {
                $.ajax({
                    type: "POST",
                    url: "/Commercial/AjaxDelete",
                    data: "table=" + 'echantillon_donne' + "&id1=" + id_ED + "&id2=" + id_rdv,
                }).then(function () {
                    location.reload();
                });
            }
        });

    </script>

}