
@{
    ViewBag.Title = "FicheFrais";
}

<h2>FicheFrais</h2>

<div class="container">
    <h2 id="employe" data-id_fiche_frais="@ViewBag.Id_fiche_frais" data-id_rdv="@ViewBag.Id_rdv" data-id_employe="@ViewBag.Employe.Id">Fiches Frais de @ViewBag.Employe.Prenom @ViewBag.Employe.Nom</h2>
    <p>Consultation de vos Fiches frais</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <button type="submit" class="btn btn-warning" name="retour" onclick="history.go(-1)">
                        <span class="glyphicon glyphicon-backward"></span> Retour
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#FFModal" data-action="add"><span class="glyphicon glyphicon-plus-sign"></span>Ajouter</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-success buttonModal" data-toggle="modal" data-target="#FFModal" data-action="modify"><span class="glyphicon glyphicon-edit"></span>Modifier</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-warning" id="eraseFF" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
                </td>
            </tr>
            <tr>
                <th class="modal_FF_form">Choix</th>
                <th class="modal_FF_form">Date création</th>
                <th class="modal_FF_form">Date modification</th>
                <!--<th class="modal_FF_form">Date Engagement<th>-->
                <th class="modal_FF_form">Type Frais</th>
                <th class="modal_FF_form">Type</th>
                <th class="modal_FF_form">Libelle</th>
                <th class="modal_FF_form">Montant</th>
            </tr>
        </thead>
        <tbody>
            @{
                var MesLignesFrais = ViewBag.MesLignesFrais;
                int tailleMesLignesFrais = MesLignesFrais.Count;

                if (tailleMesLignesFrais != 0)
                {
                    for (int index = 0; index < tailleMesLignesFrais; index++)
                    {
                        var dateFiche = MesLignesFrais[index].FicheFrais.Date_fiche.ToShortDateString();
                        //var dateEngage = MesLignesFrais[index].Date_engagement == null ? "" : MesLignesFrais[index].Date_engagement.ToShortDateString();
                        var dateModif = MesLignesFrais[index].Date_modification == null ? "" : MesLignesFrais[index].Date_modification.ToShortDateString();

            <tr>
                <th class="modal_FF_form">
                    <input checked type="radio" aria-label="" name="radio_ligneFrais" value="@MesLignesFrais[index].Id" data-id="@MesLignesFrais[index].Id">
                </th>
                <th class="modal_FF_form">@dateFiche</th>
                <th class="modal_FF_form">@dateModif</th>
                <!--<th class="modal_FF_form"></th>-->
                <th class="modal_FF_form">@MesLignesFrais[index].Frais</th>
                <th class="modal_FF_form">@MesLignesFrais[index].Forfait</th>
                <th class="modal_FF_form">@MesLignesFrais[index].Libelle</th>
                <th class="modal_FF_form">@MesLignesFrais[index].Montant</th>
            </tr>
                    }

                }

                else
                {
                    <tr>
                        <th colspan="7" style="text-align: center;">Vous n'avez renseigné aucune fiche de frais</th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<!--      MODAL  =  AFFICHE LES INFORMATIONS RELATIFS A UNE FICHE FRAIS     -->

<div class="modal fade" id="FFModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Compte Rendu - Fiches Frais</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6' id="col-sm-6_RDV">
                                <div class="form-group" style="display:flex; flex-direction: row;">
                                    <label for="example-date-input" class="col-3 col-form-label" style="flex-shrink:0;">Date création</label>
                                    <input class="form-control" type="date" value="" id="date_create" disabled>
                                    <label for="example-date-input" class="col-3 col-form-label" style="flex-shrink:0;">Date modification</label>
                                    <input class="form-control" type="date" value="" id="date_modif" disabled>
                                </div>
                                <!--<div style="display: flex; flex-direction: row;">
        <label for="example-date-input" class="col-3 col-form-label">Date engagement</label>
        <div style="margin-right: 10px;"><input class="form-control" type="date" value="" id="date_engage"></div>
        <div>Laisser vide pour la comptabilité</div>
    </div>-->
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="type_forfait" class="col-form-label">Type de forfait:</label>
                        <select class="browser-default custom-select" id="type_forfait">
                            <option value="Choisir un forfait" selected>Choisir un forfait</option>
                            @{
                                var mesTypesForfaits = ViewBag.MesTypesForfaits;
                                int tailleTypesForfait = mesTypesForfaits.Count;

                                for (int x = 0; x < tailleTypesForfait; x++)
                                {
                                    <option value="@x">@mesTypesForfaits[x]</option>
                                }
                            }
                        </select>
                    </div>


                    <div class="form-group" style="display:flex; flex-direction:row;">
                        <div style="display:flex; flex-direction: row;">
                            <label for="text" class="col-form-label">Type de frais:</label>
                            <select class="browser-default custom-select" id="type_frais" style="width:50%;" >
                                <option selected>Choisir un type de frais</option>
                                @{

                                    var mesTypesFrais = ViewBag.MesTypesFrais;
                                    int tailleTypesFrais = mesTypesFrais.Count;

                                    for (int x = 0; x < tailleTypesFrais; x++)
                                    {
                                        <option value="@x">@mesTypesFrais[x]</option>
                                    }
                                }
                            </select>
                        </div>
                        <div style="display:flex; flex-direction: row;">
                            <label for="text" class="col-form-label" style="flex-shrink:0;">Montant (en €):</label>
                            <input class="form-control" type="number" value="" id="montant" style="text-align: center; width:75%;">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class='col-sm-8' id="col-sm-8_FicheFrais"  style="display:flex; flex-direction:row; padding-left: 0;">
                            <label for="datetimepicker_rdv" class="col-form-label">Libellé:</label>
                            <input type='text' class="form-control" id="libelle" style="text-align:center;"/>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="send_FF" class="btn btn-success" data-action="modify"><span class="glyphicon glyphicon-ok"></span>Envoyer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $('.buttonModal').click(function () { // Bouton Ajouter / Modifier Click
            var action = $(this).data('action'); // data-action="modify" OU "add"
            var modal = $('#FFModal'); // ModalHTML du RDV
            var id_rdv = $('#employe').data('id_rdv'); // On récupère l'id qui est dans l'URL
            var id_ligneFrais = $("input[name='radio_ligneFrais']:checked").data('id');

            if (action === 'modify') {
                $('#send_FF').data('action', 'modify'); // Permet de changer le rôle du bouton "Ajouter" au sein du modal
                try {

                    $.ajax({ // Plusieurs éléments sont attendus pour une requête Ajax : TYPE / URL / DATA
                        type: "POST",
                        url: "/Commercial/AjaxReader",
                        data: 'table=' + "ligne_frais" + '&id=' + id_ligneFrais,
                    }).then(function (response) { // Then fonctionne uniquement après que la fonction C# ait renvoyée quelque chose
                        var JsonResponse = JSON.parse(response);

                        var milli = JsonResponse.FicheFrais.Date_fiche.replace(/\/Date\((-?\d+)\)\//, '$1');
                        var date = new Date(parseInt(milli));
                        var milli2 = Date.now();
                        var date_now = new Date(parseInt(milli2));

                        var dateAmericanFormat = date.toISOString();
                        var dateAmericanFormat_now = date_now.toISOString();


                        $("#date_create").val(dateAmericanFormat.substring(0, 10));
                        $("#date_modif").val(dateAmericanFormat_now.substring(0, 10));

                        $("#libelle").val(JsonResponse.Libelle);
                        $("#montant").val(JsonResponse.Montant);

                        $("#type_forfait").val(JsonResponse.Forfait);
                        $("#type_frais").val(JsonResponse.Frais);

                        modal.find('.modal-title').text('Fiche Frais de votre rendez-vous');
                    });
                }
                catch (ex) {
                    alert("catch Ajax Error" + ex);
                }

                modal.find('.modal-body input').val(id_rdv);
            }
            else if (action === 'add') {
                $('#send_FF').data('action', 'add');

                modal.find('.modal-title').text('Nouvelle Fiche Frais');

                var date = Date.now();
                var date_now = new Date(parseInt(date));
                var dateAmericanFormat = date_now.toISOString();
                

                $('#date_create').val(dateAmericanFormat.substring(0, 10));
                $("#type_forfait").val("Choisir un forfait");
                $('#type_frais').val("Choisir un type de frais");
                $('#montant').val();
                $('#libelle').val();
            }

        });


        $('#send_FF').click(function () {
            
            var id_fiche_frais = $('#employe').data('id_fiche_frais');
            var date_modif = $('#date_modif').val();
            var type_forfait = $('#type_forfait').val();
            var type_frais = $('#type_frais').val();         
            var montant = $('#montant').val();
            var libelle = $('#libelle').val();
            var id_employe = $('#employe').data('id_employe');
            var id_rdv = $('#employe').data('id_rdv');

            var action = $('#send_FF').data('action');

            if (action == 'add') {
                try {
                   
                    $.ajax({
                        type: "POST",
                        url: "/Commercial/AjaxAddModifyFF",
                        data: "id_ligne_frais=" + '' + "&id_fiche_frais=" + id_fiche_frais + "&type_frais=" + type_frais +
                            "&type_forfait=" + type_forfait + "&montant=" + montant + "&libelle=" + libelle +
                            "&id_rdv=" + id_rdv + "&id_employe=" + id_employe, 
                    }).then(function () {
                        location.reload();
                    });
                }
                catch (ex) {
                    alert("catch Ajax Error" + ex);
                }
            }
            else if (action == 'modify') {
                var id_ligne_frais = $("input[name='radio_ligneFrais']:checked").data('id');
                try {
                    $.ajax({
                        type: "POST",
                        url: "/Commercial/AjaxAddModifyFF",
                        data: "id_ligne_frais=" + id_ligne_frais + "&id_fiche_frais=" + id_fiche_frais + "&type_frais=" + type_frais +
                            "&type_forfait=" + type_forfait + "&montant=" + montant + "&libelle=" + libelle +
                            "&id_rdv=" + id_rdv + "&id_employe=" + id_employe + "&date_modif=" + date_modif, 
                    }).then(function () {
                        location.reload();
                    });
                }

                catch (ex) {
                    alert("catch Ajax Error" + ex);
                }
            }
        });

        $('#eraseFF').click(function () {
            var id_ligne_frais = $("input[name='radio_ligneFrais']:checked").data('id');
            if (id_ligne_frais != null) {
                $.ajax({
                    type: "POST",
                    url: "/Commercial/AjaxDelete",
                    data: "table=" + 'ligne_frais' + "&id=" + id_ligne_frais,
                }).then(function () {
                    location.reload();
                });
            }
        });

    </script>

}
