
@{
    ViewBag.Title = "FicheFrais";
}

<h2>FicheFrais</h2>

<div class="container">
    <h2 id="employe" data-id="@ViewBag.Employe.Id">Fiches Frais de @ViewBag.Employe.Prenom @ViewBag.Employe.Nom</h2>
    <p>Consultation de vos Fiches frais</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>
                    <button type="submit" class="btn btn-warning" name="retour" onclick="history.go(-1)">
                        <span class="glyphicon glyphicon-backward"></span> Retour
                    </button>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary buttonModal" data-toggle="modal" data-target="#FFModal" data-action="add"><span class="glyphicon glyphicon-plus-sign"></span>Ajouter</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-success buttonModal" data-toggle="modal" data-target="#FFModal" data-action="modify"><span class="glyphicon glyphicon-edit"></span>Modifier</button>
                </td>
                <td>
                    <button type="submit" class="btn btn-warning" id="eraseFF" data-toggle="modal"><span class="glyphicon glyphicon-trash"></span>Supprimer</button>
                </td>
            </tr>
            <tr>
                <th class="modal_FF_form">Choix</th>
                <th class="modal_FF_form">Date création</th>
                <th class="modal_FF_form">Date modification</th>
                <th class="modal_FF_form">Date Engagement</th>
                <th class="modal_FF_form">Type Frais</th>
                <th class="modal_FF_form">Type</th>
                <th class="modal_FF_form">Libelle</th>
                <th class="modal_FF_form">Montant</th>

            </tr>
        </thead>
        <tbody>
            @{
                var mesFichesFrais = ViewBag.MesFichesFrais;
                int tailleMesFichesFrais = mesFichesFrais.Count;

                if (tailleMesFichesFrais != 0)
                {
                    for (int index = 0; index < tailleMesFichesFrais; index++)
                    {
                        var dateFiche = mesFichesFrais[index].FicheFrais.Date_fiche.ToShortDateString();
                        var dateEngage = mesFichesFrais[index].Date_engagement.ToShortTimeString();
                        var dateModif = mesFichesFrais[index].FicheFrais.Date_modification == null ? "" : mesFichesFrais[index].FicheFrais.Date_modification.ToShortDateString();

                        <tr>
                            <th class="modal_FF_form">
                                <input checked type="radio" aria-label="" name="rdv_futurs_radio" value="@mesFichesFrais[index].FicheFrais.Id_fiche_frais" data-id="@mesFichesFrais[index].FicheFrais.Id_fiche_frais">
                            </th>
                            <th class="modal_FF_form">@dateFiche</th>
                            <th class="modal_FF_form">@dateModif</th>
                            <th class="modal_FF_form">@dateEngage</th>
                            <th class="modal_FF_form">@mesFichesFrais[index].Frais</th>
                            <th class="modal_FF_form">@mesFichesFrais[index].Forfait</th>
                            <th class="modal_FF_form">@mesFichesFrais[index].Libelle</th>
                            <th class="modal_FF_form">@mesFichesFrais[index].Montant</th>
                        </tr>
                    }

                }

                else
                {
                    <tr>
                        <th colspan="7" style="text-align: center;">Vous n'avez renseigné aucune fiche de frais</th>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<!--      MODAL  =  AFFICHE LES INFORMATIONS RELATIFS A UNE FICHE FRAIS     -->

<div class="modal fade" id="FFModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Compte Rendu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="container">
                        <div class="row">
                            <div class='col-sm-6' id="col-sm-6_RDV">
                                <div class="form-group" style="display:flex; flex-direction: row; align-items: center;">
                                    <label for="example-date-input" class="col-2 col-form-label">Date création</label>
                                    <input class="form-control" type="date" value="" id="date_create" required>
                                    <label for="example-date-input" class="col-2 col-form-label">Date modification</label>
                                    <input class="form-control" type="time" value="" id="date_modif" required>
                                    <label for="example-date-input" class="col-2 col-form-label">Date engagement</label>
                                    <input class="form-control" type="time" value="" id="date_engage" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="type_forfait" class="col-form-label">Type de forfait:</label>
                        <select class="browser-default custom-select" id="type_forfait">
                            <option value="Choisir un forfait" selected>Choisir un forfait</option>
                            <option value="hors_forfait">Hors forfait</option>
                            <option value="forfait">Compris dans le forfait</option>
                        </select>
                    </div>


                    <div class="form-group">
                        <label for="text" class="col-form-label">Type de frais:</label>
                        <select class="browser-default custom-select" id="type_frais">
                            <option selected>Choisir un type de frais</option>
                            @{
                                var mesTypeFrais = ViewBag.MesTypesFrais;
                                int tailleListTypeFrais = ViewBag.MesTypesFrais.Count;
                                foreach (var typeFrais in mesTypeFrais)
                                {
                                    <option value="typeFrais.TypFraisCommercial">@typeFrais.TypeFraisCommercial</option>
                                }
                            }
                        </select>
                        <label for="text" class="col-form-label">Montant (en €):</label>
                        <input class="form-control" type="number" value="" id="montant" required>
                    </div>
                    <div class="form-group">
                        <div class='col-sm-8' id="col-sm-8_FicheFrais">
                            <label for="datetimepicker_rdv" class="col-form-label">Libellé:</label>
                            <input type='text' class="form-control" id="" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="send_FF" class="btn btn-success" data-action="modify"><span class="glyphicon glyphicon-ok"></span>Envoyer</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $('.buttonModal').click(function () { // Bouton Ajouter / Modifier Click
            var action = $(this).data('action'); // data-action="modify" OU "add"
            var modal = $('#FFModal'); // ModalHTML du RDV
            var id_rdv = $(_GET['id_rdv']); // On récupère l'id qui est dans l'URL

            if (action === 'modify') {
                $('#send_FF').data('action', 'modify'); // Permet de changer le rôle du bouton "Ajouter" au sein du modal
                try {

                    $.ajax({ // Plusieurs éléments sont attendus pour une requête Ajax : TYPE / URL / DATA
                        type: "POST",
                        url: "/Commercial/AjaxReader",
                        data: 'table=' + "ligne_frais" + '&id=' + id_rdv,
                    }).then(function (response) { // Then fonctionne uniquement après que la fonction C# ait renvoyée quelque chose
                        var JsonResponse = JSON.parse(response);

                        var milli = JsonResponse.Date_rdv.replace(/\/Date\((-?\d+)\)\//, '$1');
                        var date = new Date(parseInt(milli));

                        var dateAmericanFormat = date.toISOString();

                        $("#date_create").val(dateAmericanFormat.substring(0, 10));
                        $("#date_create").attr('disabled', true); // Ajoute Readonly "fixe la valeur" a un Input - Ici date_create
                        $("#date_modif").val(dateAmericanFormat.substring(0, 10));
                        $("#date_engage").val(dateAmericanFormat.substring(0, 10));
                        $("#type_forfait").val(JsonResponse.LigneFrais.TypeForfait)
                        $("#type_frais").val(JsonResponse.LigneFrais.TypeFrais)
                        

                        modal.find('.modal-title').text('Fiche Frais de votre rendez-vous');
                    });
                }
                catch (ex) {
                    alert("catch Ajax Error" + ex);
                }

                modal.find('.modal-body input').val(id_rdv);
            }
            else if (action === 'add') {
                $('#send_FF').data('action', 'add');

                modal.find('.modal-title').text('Nouvelle Fiche Frais');

                var date = new Date($.now());
                var dateAmericanFormat = date.toISOString();
                var timeLocalFormat = date.toLocaleTimeString();


                $("#type_forfait").val("Choisir un forfait");
                $('#type_frais').val("Choisir un type de frais");
                $('#date_creation').val(timeLocalFormat.substring(0, 5));
                $('#montant').val(1);
                $('#libelle').val(1);
            }

        });


        $('#send_RDV').click(function () {
            var date = $('#date_rdv').val();
            var motif = $('#motif_rdv').val();
            var indice = $('#indice_confiance').val();
            var id_praticien = $('#select_praticien').val();
            var id_employe = $('#employe').data('id');

            var action = $('#send_RDV').data('action');

            if (action == 'add') {
                try {
                    $.ajax({
                        type: "POST",
                        url: "/Commercial/AjaxAddModifyRDV",
                        data: "id=" + '' + "&date=" + date + "&time=" + time + "&motif=" + motif + "&indice=" + indice + "&id_employe=" + id_employe + "&id_praticien=" + id_praticien,
                    }).then(function () {
                        location.reload();
                    });
                }
                catch (ex) {
                    alert("catch Ajax Error" + ex);
                }
            }
            else if (action == 'modify') {
                var id_rdv = $("input[name='rdv_futurs_radio']:checked").data('id');
                try {
                    $.ajax({
                        type: "POST",
                        url: "/Commercial/AjaxAddModifyRDV",
                        data: "id=" + id_rdv + "&date=" + date + "&time=" + time + "&motif=" + motif + "&indice=" + indice + "&id_employe=" + id_employe + "&id_praticien=" + id_praticien,
                    }).then(function () {
                        location.reload();
                    });
                }
                catch (ex) {
                    alert("catch Ajax Error" + ex);
                }
            }
        });

        $('#eraseRDV').click(function () {
            var id_rdv = $("input[name='rdv_futurs_radio']:checked").data('id');
            if (id_rdv != null) {
                $.ajax({
                    type: "POST",
                    url: "/Commercial/AjaxDelete",
                    data: "table=" + 'rendez_vous' + "&id=" + id_rdv,
                }).then(function () {
                    location.reload();
                });
            }
        });

    </script>

}
