
@{
     ViewData["Title"] = "Comptable";
}

<h2>Espace Comptable</h2>


<div class="container">
    <h2 id="employe" data-id="@ViewBag.Employe.Id">Bienvenue @ViewBag.Employe.Prenom @ViewBag.Employe.Nom</h2>
    <p>Consultation des fiches frais</p>

    @{
        var ficheFrais = ViewBag.FichesFrais;
        int tailleFichesFrais = ficheFrais.Count;
        for (int index = 0; index < tailleFichesFrais; index++)
        {
            <table class="table table-hover">

                <thead>
                    <tr>
                        <th>Commercial</th>
                        <th>Praticien</th>
                        <th>Date RDV</th>
                        <th>Motif RDV</th>
                        <th>Date fiche </th>
                    </tr>
                </thead>
                <tbody>

                    @{var dateFiche = ficheFrais[index].Date_fiche.ToShortDateString();
                        var dateRdv = ficheFrais[index].Rdv.Date_rdv.ToShortDateString();}
                    <tr>
                        <th>@ficheFrais[index].Commercial_visiteur.Nom</th>
                        <th>@ficheFrais[index].Rdv.Praticien.Nom</th>
                        <th>@dateRdv</th>
                        <th>@ficheFrais[index].Rdv.Motif_rdv</th>
                        <!--<th>@if (ficheFrais[index].Comptable != null){@ficheFrais[index].Comptable.Nom}</th>-->
                        <th>@dateFiche</th>
                    </tr>

                <thead>
                    <tr>
                        <th>Type frais</th>
                        <th>Type forfait</th>
                        <th>Libelle</th>
                        <th>Montant</th>
                        <th>Etat ligne frais</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ligne_frais in ficheFrais[index].Liste_lignes_frais)
                    {
                        string select_ligne_frais;
                        string etat_ligne = ligne_frais.EtatLigne.ToString();
                        <tr>
                            <th>@ligne_frais.Frais</th>
                            <th>@ligne_frais.Forfait</th>
                            <th>@ligne_frais.Libelle</th>
                            <th>@ligne_frais.Montant</th>

                            <th>
                                <select class="browser-default custom-select ligne_frais" 
                                        data-id_fiche_frais="@ligne_frais.FicheFrais.Id_fiche_frais" data-id_ligne_frais="@ligne_frais.Id">
                                    <option value="en_cours" @{select_ligne_frais = etat_ligne == "en_cours" ? "selected" : ""; 
                                        @select_ligne_frais }>
                                        En cours
                                    </option>
                                    <option value="refuse" @{select_ligne_frais = etat_ligne == "refuse" ? "selected" : ""; 
                                        @select_ligne_frais  }>
                                        Refusé
                                    </option>
                                    <option value="mise_en_paiement" @{select_ligne_frais = etat_ligne == "mise_en_paiement" ? "selected" : ""; 
                                        @select_ligne_frais }>
                                        Mise en paiement
                                    </option>
                                </select>
                            </th>

                        </tr>
                    }
                </tbody>
            </table>
        }
    }


    @section scripts {
        <script type="text/javascript">

            $('.ligne_frais').change(function () {
                var id_comptable = $('#employe').data('id');
                var id_ligne_frais = $(this).data('id_ligne_frais');
                var id_fiche_frais = $(this).data('id_fiche_frais');
                var etat_ligne_frais = $(this).val();
                    
                try {
                    $.ajax({
                        type: "POST",
                        url: "/AjaxComptable/UpdateLigneFrais", 
                        data: 'id_comptable=' + id_comptable + '&id_ligne_frais=' + id_ligne_frais + "&id_fiche_frais=" + id_fiche_frais + "&etat_ligne_frais=" + etat_ligne_frais,
                    }).then(function () {
                        location.reload();
                    });
                }
                catch (ex) {
                    alert("catch Ajax Error");
                }

            });
                
        </script>
    }
 </div>  

